.fade-right-enter-active, .fade-right-leave-active
  transition-duration: 0.4s
  pointer-events: none
.fade-right-enter, .fade-right-leave-to
  transform: translateX(5px) !important
  opacity: 0 !important

.fade-up-enter-active, .fade-up-leave-active
  transition-duration: 0.4s
  pointer-events: none
.fade-up-enter, .fade-up-leave-to
  transform: translateY(-5px) !important
  opacity: 0 !important

.opacity-enter-active, .opacity-leave-active
  transition-duration: 0.4s
  pointer-events: none
.opacity-enter, .opacity-leave-to
  opacity: 0 !important


.list-complete-enter-active, .list-complete-leave-active, .list-complete-move
  transition-duration: 0.4s
  pointer-events: none
.list-complete-enter, .list-complete-leave-to
  opacity: 0 !important
  transform: translateY(30px) !important
.list-complete-leave-active 
  position: absolute !important


@keyframes bounce
  40%
    transform: scale(1.2)
  60%
    transform: scale(0.9)
  80%
    transform: scale(1.05)
  100%
    transform: scale(1)

@keyframes jelly-bounce
  40%
    transform: scale(0.5, 1.5)
  60%
    transform: scale(1.3, 0.7)
  80%
    transform: scale(0.9, 1.1)
  100%
    transform: scale(1, 1)
