.bg-white
  --tw-bg-opacity:1
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity))

.rounded
  border-radius: 0.25rem

.border-b-1
  border-bottom-width: 1px

.cursor-not-allowed
  cursor: not-allowed

.flex
  display: flex

.items-end
  align-items: flex-end

.items-center
  align-items: center

.font-black
  font-weight: 900

.font-100
  font-weight: 100

.font-700
  font-weight: 700

.h-full
  height: 100%

.h-300px
  height: 300px

.h-400px
  height: 400px

.h-330px
  height: 330px

.text-14px
  font-size: 14px
  line-height: 1

.text-20px
  font-size: 20px
  line-height: 1

.text-18px
  font-size: 18px
  line-height: 1

.text-16px
  font-size: 16px
  line-height: 1

.text-30px
  font-size: 30px
  line-height: 1

.text-34px
  font-size: 34px
  line-height: 1

.mx-20px
  margin-left: 20px
  margin-right: 20px

.mr-4px
  margin-right: 4px

.mb-30px
  margin-bottom: 30px

.mb-20px
  margin-bottom: 20px

.mr-10px
  margin-right: 10px

.mb-10px
  margin-bottom: 10px

.mb-14px
  margin-bottom: 14px

.min-w-260px
  min-width: 260px

.min-w-450px
  min-width: 450px

.opacity-40
  opacity: 0.4

.overflow-hidden
  overflow: hidden

.p-30px
  padding: 30px

.p-20px
  padding: 20px

.py-10px
  padding-top: 10px
  padding-bottom: 10px

.px
  padding-left: 1px
  padding-right: 1px

.pt-20px
  padding-top: 20px

.pt-10px
  padding-top: 10px

.placeholder-black
  &::-moz-placeholder, &:-ms-input-placeholder, &::placeholder
    --tw-placeholder-opacity:1
    color: rgba(0, 0, 0, var(--tw-placeholder-opacity))

.text-center
  text-align: center

.text-shadow
  text-shadow: 0px 0px 1px rgb(0, 0, 0 / 20%), 0px, 0px 1px rgb(1, 0, 5 / 10%)

.text-shadow-md
  text-shadow: 0px 1px 3px rgba(#000, 0.4)

.w-full
  width: 100%

.w-50px
  width: 50px
.w-100px
  width: 100px
.w-200px
  width: 200px
.w-300px
  width: 300px  
.w-330px
  width: 330px
.w-600px
  width: 600px
.w-700px
  width: 700px

.h-800px
  height: 800px