<template lang="pug">
.color-ball-section
  // 使用 q-menu 提供彈出選單功能
  q-menu(anchor='center end', self='center start')
    q-color(v-model='colorVal')

  q-knob(
    v-model='rgbVal.r',
    color='red-4',
    size='220px',
    :thickness='0.05',
    readonly,
    :angle='0',
    :min='0',
    :max='765'
  )
  q-knob(
    v-model='rgbVal.g',
    color='green-4',
    size='220px',
    :thickness='0.05',
    readonly,
    :angle='120',
    :min='0',
    :max='765'
  )
  q-knob(
    v-model='rgbVal.b',
    color='blue-4',
    size='220px',
    :thickness='0.05',
    readonly,
    :angle='240',
    :min='0',
    :max='765'
  )

  // 綁定 style，變更 background 顏色
  .color-ball(:style='style')
</template>

<style lang="sass">
@import '@/styles/quasar.variables.sass'

.color-ball-section
  position: absolute
  padding: 30px
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

  .color-ball
    $size: 180px
    width: $size
    height: $size
    box-shadow: 0px 0px 20px rgba(black, 0.1)
    border-radius: 99999px
    transition: background 0s, transform 0.4s
    &:hover
      transition-duration: 0.2s
      transform: scale(1.04)
      transition-timing-function: cubic-bezier(0.385, 1.055, 0.465, 1.190)
    &:active
      transition-duration: 0.2s
      transform: scale(1)
      transition-timing-function: cubic-bezier(0.385, 1.055, 0.535, 1.570)

  .q-knob
    position: absolute
    pointer-events: none
    circle
      transition: stroke-dashoffset 0.4s ease 0s, stroke 0.4s ease 0s, color 0.4s !important
</style>

<script>
import { colors } from 'quasar';
const { hexToRgb } = colors;

export default {
  name: 'ColorBall',
  components: {},
  props: {
    value: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      colorVal: '',
    };
  },
  computed: {
    /** 提供 background 顏色 */
    style() {
      return {
        background: this.colorVal,
      };
    },

    /** 根據 colorVal 計算之 RGB 數值
     * 使用 Quasar 提供之 Color Utils 達成
     * https://v1.quasar.dev/quasar-utils/color-utils
     */
    rgbVal() {
      if (this.colorVal === '') {
        return {
          r: 0,
          g: 0,
          b: 0,
        };
      }

      return hexToRgb(this.colorVal);
    },
  },
  watch: {
    /** 偵測選擇變化，透過 emit('input') 更新 v-model 數值 */
    colorVal(val) {
      this.$emit('input', val);
    },
  },
  created() {
    // 儲存初始顏色
    this.colorVal = this.value;
  },
  mounted() {},
  methods: {},
};
</script>


