<template lang="pug">
base-window.window-app-rgb-led-palette(
  :pos='pos',
  header-icon-color='blue-grey',
  header-icon='r_palette',
  body-class='c-col h-330px',
  title='RGB LED 調色盤'
)
  .h-full.overflow-hidden
    transition(name='switch-right')
      color-ball(v-if='isSettingOk', v-model='colorVal')

    transition(name='switch-left')
      .setting-form(v-if='!isSettingOk')
        .text-14px.mb-14px
          | 設定 RGB LED 腳位
        .led-item
          q-icon(name='r_emoji_objects', color='red-5', size='34px')
          base-select-pin.w-full(
            v-model='ledPin.r',
            :pins='supportPins',
            color='red-2',
            placeholder='點擊選擇',
            @err='handleErr'
          )

        .led-item
          q-icon(name='r_emoji_objects', color='green-5', size='34px')
          base-select-pin.w-full(
            v-model='ledPin.g',
            :pins='supportPins',
            color='green-2',
            placeholder='點擊選擇',
            @err='handleErr'
          )

        .led-item
          q-icon(name='r_emoji_objects', color='blue-5', size='34px')
          base-select-pin.w-full(
            v-model='ledPin.b',
            :pins='supportPins',
            color='blue-2',
            placeholder='點擊選擇',
            @err='handleErr'
          )
</template>

<style lang="sass">
@import '@/styles/quasar.variables.sass'

.window-app-rgb-led-palette
  width: 300px
  .setting-form
    position: absolute
    padding: 30px
    width: 100%
    height: 100%
    .led-item
      display: flex
      align-items: center
      margin-bottom: 10px
      .q-icon
        margin-right: 14px

  .switch-left-enter-active, .switch-left-leave-active
    transition-timing-function: cubic-bezier(0.945, -0.290, 0.165, 1.360)
    transition-duration: 0.8s
    pointer-events: none
  .switch-left-enter, .switch-left-leave-to
    transform: translateX(100%) !important
    opacity: 0 !important

  .switch-right-enter-active, .switch-right-leave-active
    transition-timing-function: cubic-bezier(0.945, -0.290, 0.165, 1.360)
    transition-duration: 0.8s
    pointer-events: none
  .switch-right-enter, .switch-right-leave-to
    transform: translateX(-100%) !important
    opacity: 0 !important
</style>

<script>
/**
 * @typedef {import('@/script/modules/port-transceiver').default} PortTransceiver
 *
 * @typedef {import('@/types/type').PinInfo} PinInfo
 * @typedef {import('@/types/type').PinCapability} PinCapability
 */

import { mapState } from 'vuex';
import { colors } from 'quasar';
const { hexToRgb } = colors;
import { throttle } from 'lodash-es';

import mixinWindow from '@/mixins/mixin-window';

import BaseWindow from '@/components/base-window.vue';
import BaseSelectPin from '@/components/base-select-pin.vue';
import ColorBall from '@/components/window-app-rgb-led-palette/color-ball.vue';

import { PinMode } from '@/script/utils/firmata.utils';
const { PWM } = PinMode;

export default {
  name: 'WindowAppRgbLedPalette',
  components: {
    'base-window': BaseWindow,
    'base-select-pin': BaseSelectPin,

    'color-ball': ColorBall,
  },
  mixins: [mixinWindow],
  props: {},
  data() {
    return {
      ledPin: {
        r: null,
        g: null,
        b: null,
      },

      colorVal: '',

      throttle: {
        writePinsVal: null,
      },
    };
  },
  computed: {
    ...mapState({
      boardPins: (state) => state.board.info.pins,

      /** @type {PortTransceiver} */
      portTransceiver: (state) => state.core.transceiver,
    }),

    /** 支援功能的腳位 */
    supportPins() {
      /** @type {PinInfo[]} */
      const boardPins = this.boardPins;

      return boardPins.filter((pin) =>
        pin.capabilities.some((capability) => PWM === capability.mode)
      );
    },

    /** 判斷所有 Pin 腳是否選擇完成 */
    isSettingOk() {
      return Object.values(this.ledPin).every((pin) => pin);
    },

    /** 根據 colorVal 計算之 RGB 數值 */
    rgbVal() {
      if (this.colorVal === '') {
        return {
          r: 0,
          g: 0,
          b: 0,
        };
      }

      return hexToRgb(this.colorVal);
    },
  },
  watch: {
    'ledPin.r': {
      handler(newVal, oldVal) {
        this.handlePinSelect(newVal, oldVal);
      },
    },
    'ledPin.g': {
      handler(newVal, oldVal) {
        this.handlePinSelect(newVal, oldVal);
      },
    },
    'ledPin.b': {
      handler(newVal, oldVal) {
        this.handlePinSelect(newVal, oldVal);
      },
    },

    isSettingOk(isOk) {
      if (!isOk) return;

      this.initPins();
    },

    rgbVal(val) {
      if (!this.isSettingOk) return;

      this.throttle.writePinsVal(val);
    },
  },
  created() {
    console.log(`[ ${this.$options.name} created ] id : `, this.id);

    this.throttle.writePinsVal = throttle(this.writePinsVal, 100);
  },
  mounted() {},
  methods: {
    /** 處理錯誤訊息 */
    handleErr(msg) {
      this.$q.notify({
        type: 'negative',
        message: msg,
      });
    },

    /** 處理腳位選擇事件，回報 Vuex 新增、移除占用腳位
     * @param {PinInfo} newVal
     * @param {PinInfo} oldVal
     */
    handlePinSelect(newVal, oldVal) {
      if (newVal) {
        this.$store.commit('window/addOccupiedPin', {
          id: this.id,
          pin: newVal,
        });
      }

      if (oldVal) {
        this.$store.commit('window/deleteOccupiedPin', {
          id: this.id,
          pin: oldVal,
        });
      }
    },

    /** 初始化所有腳位 */
    initPins() {
      /** @type {PortTransceiver} */
      const portTransceiver = this.portTransceiver;

      Object.values(this.ledPin).forEach((/** @type {PinInfo} */ pin) => {
        portTransceiver.addCmd('setMode', {
          pin: pin.number,
          mode: PWM,
        });
      });
    },

    /** 發送 PWM 數值
     * @param {Object} rgbVal
     * @param {number} rgbVal.r
     * @param {number} rgbVal.g
     * @param {number} rgbVal.b
     */
    writePinsVal(rgbVal) {
      /** @type {PortTransceiver} */
      const portTransceiver = this.portTransceiver;

      Object.entries(this.ledPin).forEach(
        ([key, /** @type {PinInfo} */ pin]) => {
          const value = rgbVal[key];

          portTransceiver.addCmd('setPwmValue', {
            pin: pin.number,
            value,
          });
        }
      );
    },
  },
};
</script>


