<template lang="pug">
.base-window(
  @click.stop='handleClick',
  :style='style',
  :class='classes',
  @touchstart.stop,
  @contextmenu.stop
)
  q-bar.base-window-header-bar(v-touch-pan.prevent.mouse='handleMove')
    q-icon.bounce-icon(:name='headerIcon', :color='headerIconColor')
    q-space
    .base-window-title.text-shadow {{ title }}
    q-space
    q-btn(
      @click='handleClose',
      icon='r_close',
      dense,
      flat,
      rounded,
      color='grey-5'
    )
  .base-window-body(:class='bodyClass')
    slot
</template>

<style scoped lang="sass">
@import '@/styles/quasar.variables.sass'

.base-window
  position: fixed
  min-width: 200px
  min-height: 100px
  overflow: hidden
  transition-duration: 0.5s
  transform: translateZ(0px)
  transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1)
  box-shadow: $unfocus-shadow
  border-radius: $border-radius-m
  background: rgba(white, 0.8)
  backdrop-filter: blur(4px)
  &.focused
    background: rgba(white, 0.98)
    transform: translateY(-2px)
    box-shadow: $focus-shadow
    .base-window-header-bar .base-window-title
      letter-spacing: 2px
      transition-delay: 0.2s
      transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1)

  &.moving
    transition: top 0s, left 0s, transform 0.5s, box-shadow 0.5s

  .base-window-header-bar
    height: auto
    padding: 20px
    padding-bottom: 14px
    cursor: move
    background: none
    color: $grey-8
    .base-window-title
      font-size: 14px
      user-select: none
      margin: 0px
      position: relative
      font-weight: 900
      transition-duration: 0.4s
      letter-spacing: 1px

  .base-window-body
    position: relative
</style>

<script>
export default {
  name: 'BaseWindow',
  components: {},
  props: {
    // 視窗起始位置
    pos: {
      type: Object,
      default() {
        return {
          x: 0,
          y: 0,
        };
      },
    },

    // 可以額外增加 class
    bodyClass: {
      type: String,
      default: '',
    },

    // title bar 文字
    title: {
      type: String,
      default: 'title',
    },

    // title bar icon 名稱
    headerIcon: {
      type: String,
      default: 'r_dashboard',
    },

    // title bar icon 顏色
    headerIconColor: {
      type: String,
      default: 'blue-grey-4',
    },
  },
  inject: ['id'],
  data() {
    return {
      // 目前視窗移動量
      offset: {
        x: 0,
        y: 0,
      },

      status: {
        isMoving: false,
      },
    };
  },
  computed: {
    zIndex() {
      const zIndexMap = this.$store.getters['window/zIndexMap'];
      return zIndexMap?.[this.id] ?? 0;
    },

    style() {
      const xSum = this.offset.x;
      const ySum = this.offset.y;

      const style = {
        zIndex: this.zIndex,
        top: `${ySum}px`,
        left: `${xSum}px`,
      };

      return style;
    },
    classes() {
      const classes = [];

      if (this.isFoucs) {
        classes.push('focused');
      }

      if (this.status.isMoving) {
        classes.push('moving');
      }

      return classes;
    },

    isFoucs() {
      return this.$store.state.window.focusId === this.id;
    },
  },
  watch: {},
  created() {
    if (!this.id) {
      throw new Error(`父組件必須透過 provide / inject 提供 id 數值`);
    }

    this.offset.x = this.pos.x;
    this.offset.y = this.pos.y;
  },
  mounted() {},
  methods: {
    foucs() {
      this.$store.commit('window/setFocus', this.id);
    },

    handleClick() {
      this.foucs();
    },
    handleClose() {
      this.$store.commit('window/remove', this.id);
    },

    /** 處理拖動事件
     *
     * 使用 Quasar v-touch-pan 指令實現
     *
     * [參考資料](https://v1.quasar.dev/vue-directives/touch-pan)
     */
    handleMove({ isFirst, isFinal, delta }) {
      // 拖動時讓視窗 focus
      if (isFirst) {
        this.foucs();
      }

      this.status.isMoving = !isFinal;

      // 累加每次移動變化量。
      this.offset.x += delta.x;
      this.offset.y += delta.y;
    },
  },
};
</script>


