<template lang="pug">
q-select.text-shadow.base-select-pin(
  :value='value',
  use-input,
  :bg-color='color',
  :color='color',
  :clearable='clearable',
  :options='filterOptions',
  :placeholder='placeholderText',
  :input-debounce='0',
  :option-label='calcOptionLabel',
  rounded,
  outlined,
  hide-dropdown-icon,
  dense,
  input-class='text-center font-black placeholder-black',
  popup-content-class='border-radius-m',
  @filter='filterFn'
)
  template(v-slot:no-option)
    // 替換 option 為空時，顯示的內容
    q-item.py-10px.border-b-1.text-red.text-center
      q-item-section(v-if='pins.length === 0')
        q-item-label
          | 無腳位資料
      q-item-section(v-else)
        q-item-label
          | 無符合關鍵字的腳位

  template(v-slot:option='{ opt }')
    // 自定 option 內容
    q-item.py-10px.border-b-1(
      @click='handleClick(opt)',
      dense,
      clickable,
      v-close-popup,
      :key='opt.number',
      :class='{ "cursor-not-allowed opacity-40": opt.disable }'
    )
      // 顯示腳位編號
      q-item-section(avatar)
        q-item-label.c-row.items-end.font-orbitron.w-50px.text-grey-8
          .text-14px.mr-4px.text-grey
            | Pin
          .text-20px.font-100
            | {{ opt.label }}

      // 顯示腳位模式
      q-item-section
        q-item-label
          q-chip.text-shadow-md.font-700(
            v-for='chip in opt.chips',
            rounded,
            size='md',
            :color='chip.color',
            text-color='white',
            :key='chip.name'
          )
            | {{ chip.name }}
</template>

<style lang="sass">
@import '@/styles/quasar.variables.sass'

.base-select-pin
  position: relative
  .q-field__control
    &::before
      border: none !important
</style>

<script>
/**
 * @typedef {import('@/types/type').PinInfo} PinInfo
 * @typedef {import('@/types/type').OccupiedPin} OccupiedPin
 */

import { mapGetters } from 'vuex';

import firmataUtils from '@/script/utils/firmata.utils';

export default {
  name: 'BaseSelectPin',
  components: {},
  props: {
    value: {
      type: Object,
      default() {
        return null;
      },
    },

    /** 候選腳位
     * @type {PinInfo[]}
     */
    pins: {
      type: Array,
      default() {
        return [];
      },
    },

    placeholder: {
      type: String,
      default: '選擇新增腳位',
    },
    color: {
      type: String,
      default: 'blue-grey-4',
    },
    clearable: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      filterOptions: [],
    };
  },
  computed: {
    ...mapGetters({
      occupiedPins: 'window/occupiedPins',
    }),

    options() {
      /** @type {PinInfo[]} */
      const pins = this.pins;

      /** @type {OccupiedPin[]} */
      const occupiedPins = this.occupiedPins;

      const options = pins.map((pin) => {
        const chips = pin.capabilities.map((capability) =>
          firmataUtils.getDefineByCode(capability.mode)
        );

        // 若此 pin 出現在 occupiedPins 中，則設為 disable
        const disable = occupiedPins.some(
          (occupiedPin) => occupiedPin.info.number === pin.number
        );

        return {
          label: pin.number,
          chips,
          value: pin,
          disable,
        };
      });

      return options;
    },

    placeholderText() {
      if (!this.value) {
        return this.placeholder;
      }

      return '';
    },
  },
  watch: {},
  created() {},
  mounted() {},
  methods: {
    handleClick(option) {
      /** @type {PinInfo} */
      const pin = option.value;
      if (!pin) {
        return;
      }

      if (option.disable) {
        this.$emit('err', `「${pin.number} 號腳位」已被占用`);
        return;
      }

      this.$emit('selected', pin);

      // 更新 v-model 綁定數值
      this.$emit('input', pin);
    },

    /** 計算 Label 顯示文字
     * @param {PinInfo} pin
     */
    calcOptionLabel(pin) {
      if (!pin) {
        return '';
      }

      return `Pin ${pin.number}`;
    },

    filterFn(keyWord, update) {
      if (!keyWord) {
        update(() => {
          this.filterOptions = this.options;
        });
        return;
      }

      update(() => {
        // 根據關鍵字過濾
        const regex = new RegExp(keyWord, 'i');

        this.filterOptions = this.options.filter((option) => {
          const pinNum = option.label;
          const chips = option.chips;

          // 搜尋腳位模式名稱
          const matchChip = chips.some((chip) => {
            return regex.test(chip.name);
          });

          return regex.test(pinNum) || matchChip;
        });
      });
    },
  },
};
</script>


