<template lang="pug">
.c-row.q-0px.items-center.w-full
  .pin-number
    .text-20px
      | {{ pin.number }}
    q-btn.bg-white(
      @click='handleDelete',
      icon='r_delete',
      dense,
      flat,
      rounded,
      color='grey-5'
    )
  q-slider.mx-20px(
    v-model='pinValue',
    readonly,
    color='red-3',
    :min='0',
    :max='valueMax'
  )
  q-knob(
    v-model='pinValue',
    size='60px',
    show-value,
    readonly,
    color='red-3',
    track-color='grey-3',
    font-size='12px',
    :min='0',
    :max='valueMax'
  )
</template>

<style scoped lang="sass">
@import '@/styles/quasar.variables.sass'

.pin-number
  width: 36px
  padding: 10px 0px
  margin-right: 10px
  font-family: 'Orbitron'
  color: $grey
  text-align: center
  position: relative
  &:hover
    .q-btn
      pointer-events: auto
      opacity: 1
  .q-btn
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    pointer-events: none
    transition-duration: 0.4s
    opacity: 0
</style>

<script>
/**
 * @typedef {import('@/script/modules/port-transceiver').default} PortTransceiver
 *
 * @typedef {import('@/types/type').PinInfo} PinInfo
 * @typedef {import('@/types/type').PinCapability} PinCapability
 *
 * @typedef {import('@/types/type').AnalogResponseMessage} AnalogResponseMessage
 */

import { mapState } from 'vuex';
import { isNil, findLast, throttle } from 'lodash-es';

import { PinMode } from '@/script/utils/firmata.utils';
const { ANALOG_INPUT } = PinMode;

export default {
  name: 'WindowAnalogInputItem',
  components: {},
  props: {
    /** @type {PinInfo} */
    pin: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      /** 腳位數值 */
      pinValue: 0,

      throttle: {
        setPinValue: null,
      },
    };
  },
  computed: {
    ...mapState({
      /** @type {PortTransceiver} */
      portTransceiver: (state) => state.core.transceiver,
      analogPinMap: (state) => state.board.info.analogPinMap,
    }),

    /** 映射後的編號 */
    analogPinMapNum() {
      /** @type {PinInfo} */
      const pin = this.pin;

      return this.analogPinMap?.[pin.number] ?? null;
    },

    /** 數值最大值 */
    valueMax() {
      /** @type {PinInfo} */
      const pin = this.pin;

      const target = pin.capabilities.find(
        (capability) => capability.mode === ANALOG_INPUT
      );

      return 2 ** target.resolution - 1;
    },
  },
  watch: {},
  created() {
    this.init();

    this.throttle.setPinValue = throttle(this.setPinValue, 200);
  },
  mounted() {},
  beforeDestroy() {},
  methods: {
    handleDelete() {
      this.$emit('delete', this.pin);
    },

    init() {
      /** @type {PinInfo} */
      const pin = this.pin;

      /** @type {PortTransceiver} */
      const portTransceiver = this.portTransceiver;

      portTransceiver.addCmd('setMode', {
        pin: pin.number,
        mode: ANALOG_INPUT,
      });

      // 監聽 analogMessage
      const listener = portTransceiver.on(
        'data:analogMessage',
        (data) => {
          this.handleData(data);
        },
        { objectify: true }
      );

      // 組件銷毀時，取消監聽器。
      this.$once('hook:beforeDestroy', () => {
        listener.off();
      });
    },

    /** 處理數值
     * @param {AnalogResponseMessage[]} data
     */
    handleData(data) {
      if (isNil(this.analogPinMapNum)) {
        console.error(`[ ${this.$options.name} handleData ] 腳位映射值不存在`);
        return;
      }

      // 取得最後一個狀態
      /** @type {AnalogResponseMessage} */
      const target = findLast(
        data,
        ({ analogPin }) => this.analogPinMapNum === analogPin
      );
      if (!target) return;

      this.throttle.setPinValue(target.value);
    },

    setPinValue(value) {
      this.pinValue = value;
    },
  },
};
</script>


