<template lang="pug">
.c-row.q-0px.w-full
  .pin-number
    .text-20px
      | {{ pin.number }}
    q-btn.bg-white(
      @click='handleDelete',
      icon='r_delete',
      dense,
      flat,
      rounded,
      color='grey-5'
    )

  q-select.w-full(
    v-model='selectedCapabilitity',
    outlined,
    dense,
    rounded,
    emit-value,
    map-options,
    :options='capabilitityOptions',
    color='teal'
  )

  q-toggle(
    v-model='pinValue',
    color='teal-5',
    keep-color,
    :disable='lockToggle',
    checked-icon='r_bolt'
  )
</template>

<style scoped lang="sass">
@import '@/styles/quasar.variables.sass'

.pin-number
  width: 36px
  padding: 10px 0px
  margin-right: 10px
  font-family: 'Orbitron'
  color: $grey
  text-align: center
  position: relative
  &:hover
    .q-btn
      pointer-events: auto
      opacity: 1
  .q-btn
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    pointer-events: none
    transition-duration: 0.4s
    opacity: 0
</style>

<script>
/**
 * @typedef {import('@/script/modules/port-transceiver').default} PortTransceiver
 *
 * @typedef {import('@/types/type').PinInfo} PinInfo
 * @typedef {import('@/types/type').PinCapability} PinCapability
 *
 * @typedef {import('@/script/firmata/firmata').DigitalResponseMessage} DigitalResponseMessage
 */

import { mapState } from 'vuex';
import { findLast } from 'lodash-es';

import firmataUtils, { PinMode } from '@/script/utils/firmata.utils';
import { getBitWithNumber } from '@/script/utils/utils';
const { DIGITAL_INPUT, DIGITAL_OUTPUT, INPUT_PULLUP } = PinMode;

export default {
  name: 'WindowDigitalIoItem',
  components: {},
  props: {
    /** @type {PinInfo} */
    pin: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      /** 數位功能種類 */
      digitalModes: [DIGITAL_INPUT, DIGITAL_OUTPUT, INPUT_PULLUP],
      /** 選擇模式 */
      selectedCapabilitity: null,
      /** 腳位數值 */
      pinValue: false,

      listener: null,
    };
  },
  computed: {
    ...mapState({
      /** @type {PortTransceiver} */
      portTransceiver: (state) => state.core.transceiver,
    }),

    /** 此腳位可用的功能 */
    usableCapabilities() {
      /** @type {PinInfo} */
      const pin = this.pin;

      const capabilities = pin.capabilities.filter((capabilitity) =>
        this.digitalModes.includes(capabilitity.mode)
      );

      return capabilities;
    },

    /** 腳位功能 select options */
    capabilitityOptions() {
      /** @type {PinCapability[]} */
      const usableCapabilities = this.usableCapabilities;

      return usableCapabilities.map((capabilitity) => {
        const { name: label } = firmataUtils.getDefineByCode(capabilitity.mode);

        return {
          label,
          value: capabilitity,
        };
      });
    },

    /** 此腳位所屬的 Port 編號 */
    pinPortNum() {
      /** @type {PinInfo} */
      const pin = this.pin;
      const port = (pin.number / 8) | 0;

      return port;
    },

    /** 停用開關 */
    lockToggle() {
      /** @type {PinCapability} */
      const selectedCapabilitity = this.selectedCapabilitity;

      if (!selectedCapabilitity) {
        return true;
      }

      // 只有 OUTPUT 模式可以使用
      if (selectedCapabilitity.mode === DIGITAL_OUTPUT) {
        return false;
      }

      return true;
    },
  },
  watch: {
    /** 偵測選擇的腳位功能 */
    selectedCapabilitity() {
      this.initMode();
    },

    pinValue(value) {
      /** @type {PinInfo} */
      const pin = this.pin;

      /** @type {PortTransceiver} */
      const portTransceiver = this.portTransceiver;

      // 只有輸出模式才要設定數值
      /** @type {PinCapability} */
      const { mode } = this.selectedCapabilitity;
      if (mode !== DIGITAL_OUTPUT) return;

      portTransceiver.addCmd('setDigitalPinValue', {
        pin: pin.number,
        value,
      });
    },
  },
  created() {},
  mounted() {},
  beforeDestroy() {
    this.listener?.off?.();
  },
  methods: {
    handleDelete() {
      this.$emit('delete', this.pin);
    },

    /** 初始化指定模式 */
    initMode() {
      /** @type {PinInfo} */
      const pin = this.pin;

      /** @type {PortTransceiver} */
      const portTransceiver = this.portTransceiver;

      /** @type {PinCapability} */
      const selectedCapabilitity = this.selectedCapabilitity;

      const mode = selectedCapabilitity.mode;

      portTransceiver.addCmd('setMode', {
        pin: pin.number,
        mode,
      });

      // 數位輸入
      if ([INPUT_PULLUP, DIGITAL_INPUT].includes(mode)) {
        this.listener = portTransceiver.on(
          'data:digitalMessage',
          (data) => {
            this.handleData(data);
          },
          {
            objectify: true,
          }
        );
        return;
      }

      // 數位輸出
      if ([DIGITAL_OUTPUT].includes(mode)) {
        this.listener?.off?.();
        this.pinValue = false;
        return;
      }

      console.error(`[ initMode ] 未定義模式 : `, mode);
    },

    /** 處理數值
     * @param {DigitalResponseMessage[]} data
     */
    handleData(data) {
      // 取得最後一次數值即可
      /** @type {DigitalResponseMessage} */
      const target = findLast(data, ({ port }) => {
        return this.pinPortNum === port;
      });

      if (!target) return;

      const { value } = target;

      /** @type {PinInfo} */
      const pin = this.pin;
      const bitIndex = pin.number % 8;

      this.pinValue = getBitWithNumber(value, bitIndex);
    },
  },
};
</script>


