<template lang="pug">
base-window(
  :pos='pos',
  body-class='c-col p-20px pt-20px',
  title='範例視窗'
)
</template>

<style lang="sass">
</style>

<script>
import mixinWindow from '@/mixins/mixin-window';

import BaseWindow from '@/components/base-window.vue';

export default {
  name: 'WindowExample',
  components: {
    'base-window': BaseWindow,
  },
  mixins: [mixinWindow],
  props: {},
  data() {
    return {
    };
  },
  computed: {},
  watch: {},
  created() {
    console.log(`[ ${this.$options.name} created ] id : `, this.id);
  },
  mounted() {},
  methods: {},
};
</script>


