<template lang="pug">
base-window.window-digital-io(
  :pos='pos',
  headerIconColor='teal-3',
  body-class='c-col p-20px pt-20px',
  title='數位 I/O 功能'
)
  base-select-pin(
    :pins='supportPins',
    color='teal-3',
    @selected='addPin',
    @err='handleErr'
  )

  q-scroll-area.pt-10px.h-300px.flex
    transition-group(name='list-complete', tag='div')
      window-digital-io-item.py-10px(
        v-for='pin in existPins',
        :pin='pin',
        :key='pin.number',
        @delete='deletePin'
      )
</template>

<style lang="sass">
.window-digital-io
  width: 330px
  height: 440px
</style>

<script>
/**
 * @typedef {import('@/types/type').PinInfo} PinInfo
 */

import { mapState } from 'vuex';

import BaseWindow from '@/components/base-window.vue';
import BaseSelectPin from '@/components/base-select-pin.vue';
import WindowDigitalIoItem from '@/components/window-digital-io-item.vue';

import mixinWindow from '@/mixins/mixin-window';

import { PinMode } from '@/script/utils/firmata.utils';
const { DIGITAL_INPUT, DIGITAL_OUTPUT, INPUT_PULLUP } = PinMode;

export default {
  name: 'WindowDigitalIo',
  components: {
    'base-window': BaseWindow,
    'base-select-pin': BaseSelectPin,
    'window-digital-io-item': WindowDigitalIoItem,
  },
  mixins: [mixinWindow],
  props: {},
  data() {
    return {
      /** @type {PinInfo[]} */
      existPins: [],
    };
  },
  computed: {
    ...mapState({
      boardPins: (state) => state.board.info.pins,
    }),

    // 支援功能的腳位
    supportPins() {
      /** @type {PinInfo[]} */
      const boardPins = this.boardPins;

      return boardPins.filter((pin) => {
        const hasDigitalFcn = pin.capabilities.some((capability) =>
          [DIGITAL_INPUT, DIGITAL_OUTPUT, INPUT_PULLUP].includes(
            capability.mode
          )
        );

        return hasDigitalFcn;
      });
    },
  },
  watch: {},
  created() {},
  mounted() {},
  methods: {
    /** 新增腳位
     * @param {PinInfo} pin
     */
    addPin(pin) {
      if (!pin) {
        return;
      }

      this.$store.commit('window/addOccupiedPin', {
        id: this.id,
        pin,
      });

      this.existPins.push(pin);
    },
    /** 移除腳位
     * @param {PinInfo} pin
     */
    deletePin(pin) {
      if (!pin) {
        return;
      }

      this.$store.commit('window/deleteOccupiedPin', {
        id: this.id,
        pin,
      });

      const index = this.existPins.findIndex(
        (existPin) => existPin.number === pin.number
      );
      this.existPins.splice(index, 1);
    },

    /** 接收錯誤訊息 */
    handleErr(msg) {
      this.$q.notify({
        type: 'negative',
        message: msg,
      });
    },
  },
};
</script>


