<template lang="pug">
.game-scene.w-600px.h-800px(:id='`game-scene-${id}`')
</template>

<script>
/**
 * @typedef {import('@/script/modules/port-transceiver').default} PortTransceiver
 *
 * @typedef {import('@/types/type').PinInfo} PinInfo
 * @typedef {import('@/types/type').PinCapability} PinCapability
 */

import { mapState } from 'vuex';
import Phaser from 'phaser';

import ScenePreload from './scenes/scene-preload';
import SceneWelcome from './scenes/scene-welcome';
import SceneMain from './scenes/scene-main';
import SceneOver from './scenes/scene-over';

import JoyStick from '@/script/electronic-components/joy-stick';

import { PinMode } from '@/script/utils/firmata.utils';
const { INPUT_PULLUP } = PinMode;

export default {
  name: 'GameScene',
  components: {},
  props: {
    xPin: {
      type: Object,
      default() {
        return null;
      },
    },
    yPin: {
      type: Object,
      default() {
        return null;
      },
    },
    btnPin: {
      type: Object,
      default() {
        return null;
      },
    },
  },
  inject: ['id'],
  data() {
    return {
      /** @type {Phaser.Game} */
      game: null,

      /** @type {JoyStick} */
      joyStick: null,
    };
  },
  computed: {
    ...mapState({
      /** @type {PortTransceiver} */
      portTransceiver: (state) => state.core.transceiver,
      analogPinMap: (state) => state.board.info.analogPinMap,
    }),
  },
  watch: {},
  created() {
    // 同時偵測所有 Pin
    this.$watch(
      () => {
        return [this.xPin, this.yPin, this.btnPin];
      },
      (/** @type {PinInfo[]} */ [xPin, yPin, btnPin]) => {
        // 所有腳位都設定完成才初始化
        if (!xPin || !yPin || !btnPin) return;

        this.initController();
        this.initGame();
      }
    );
  },
  mounted() {},
  beforeDestroy() {
    this.game?.destroy?.();
    this.joyStick?.destroy?.();
  },
  methods: {
    /** 初始化遊戲 */
    initGame() {
      /** @type {Phaser.Types.Core.GameConfig} */
      const config = {
        type: Phaser.WEBGL,
        width: 600,
        height: 800,
        parent: `game-scene-${this.id}`,
        scene: [ScenePreload, SceneWelcome, SceneMain, SceneOver],
        backgroundColor: '#FFF',
        disableContextMenu: true,

        physics: {
          default: 'arcade',
          arcade: {
            // debug: true,
          },
        },
      };

      this.game = new Phaser.Game(config);
      this.game.joyStick = this.joyStick;
    },

    /** 初始化搖桿 */
    initController() {
      this.joyStick = new JoyStick({
        transceiver: this.portTransceiver,
        analogPinMap: this.analogPinMap,
        xAxis: {
          pin: this.xPin,
        },
        yAxis: {
          pin: this.yPin,
        },
        btn: {
          pin: this.btnPin,
          mode: INPUT_PULLUP,
        },
      });
    },
  },
};
</script>


