<template lang="pug">
base-window.window-app-cat-vs-dog(
  :pos='pos',
  header-icon='r_videogame_asset',
  body-class='c-col',
  title='貓狗大戰'
)
  .h-full.overflow-hidden
    game-scene(:x-pin='xPin', :y-pin='yPin', :btn-pin='btnPin')

    transition(name='fade-up')
      .setting-form(v-if='!isSettingOk')
        .form-section
          .form-item.mb-20px
            q-icon.mr-10px(name='r_gamepad', size='20px')
            .text-18px.font-700
              | 設定控制器

          .form-item
            .text-16px.w-200px
              | X 軸訊號
            base-select-pin.w-full(
              v-model='xPin',
              :pins='supportAnalogInputPins',
              color='light-green-4',
              placeholder='點擊選擇',
              @err='handleErr'
            )

          .form-item
            .text-16px.w-200px
              | Y 軸訊號
            base-select-pin.w-full(
              v-model='yPin',
              :pins='supportAnalogInputPins',
              color='light-green-4',
              placeholder='點擊選擇',
              @err='handleErr'
            )

          .form-item
            .text-16px.w-200px
              | 按鈕訊號
            base-select-pin.w-full(
              v-model='btnPin',
              :pins='supportPullupPins',
              color='light-green-4',
              placeholder='點擊選擇',
              @err='handleErr'
            )
</template>

<style scoped lang="sass">
@import '@/styles/quasar.variables.sass'

.window-app-cat-vs-dog
  min-width: 300px
  min-height: 400px

.setting-form
  position: absolute
  top: 0%
  left: 0px
  width: 100%
  height: 100%
  padding: 20px
  background: rgba(white, 0.9)
  backdrop-filter: blur(4px)
  display: flex
  justify-content: center
  align-items: center
  .form-section
    padding: 20px
    width: 80%
    border-radius: $border-radius-m
    box-shadow: $focus-shadow

  .form-item
    display: flex
    align-items: center
    margin-bottom: 20px
</style>

<script>
/**
 * @typedef {import('@/script/modules/port-transceiver').default} PortTransceiver
 *
 * @typedef {import('@/types/type').PinInfo} PinInfo
 * @typedef {import('@/types/type').PinCapability} PinCapability
 */

import { mapState } from 'vuex';

import mixinWindow from '@/mixins/mixin-window';

import BaseWindow from '@/components/base-window.vue';
import BaseSelectPin from '@/components/base-select-pin.vue';
import GameScene from './game-scene.vue';

import { PinMode } from '@/script/utils/firmata.utils';
const { INPUT_PULLUP, ANALOG_INPUT } = PinMode;

export default {
  name: 'WindowAppCatVsDog',
  components: {
    'base-window': BaseWindow,
    'base-select-pin': BaseSelectPin,
    'game-scene': GameScene,
  },
  mixins: [mixinWindow],
  props: {},
  data() {
    return {
      xPin: null,
      yPin: null,
      btnPin: null,
    };
  },
  computed: {
    ...mapState({
      boardPins: (state) => state.board.info.pins,
    }),

    /** 支援上拉輸入功能腳位 */
    supportPullupPins() {
      /** @type {PinInfo[]} */
      const boardPins = this.boardPins;

      return boardPins.filter((pin) =>
        pin.capabilities.some((capability) => INPUT_PULLUP === capability.mode)
      );
    },

    /** 支援類比輸入功能腳位 */
    supportAnalogInputPins() {
      /** @type {PinInfo[]} */
      const boardPins = this.boardPins;

      return boardPins.filter((pin) =>
        pin.capabilities.some((capability) => ANALOG_INPUT === capability.mode)
      );
    },

    /** 設定欄位是否完成 */
    isSettingOk() {
      return this.xPin && this.yPin && this.btnPin;
    },
  },
  watch: {
    xPin(newVal, oldVal) {
      this.handlePinSelect(newVal, oldVal);
    },
    yPin(newVal, oldVal) {
      this.handlePinSelect(newVal, oldVal);
    },
    btnPin(newVal, oldVal) {
      this.handlePinSelect(newVal, oldVal);
    },
  },
  created() {},
  mounted() {},
  methods: {
    handlePinSelect(newVal, oldVal) {
      if (newVal) {
        this.$store.commit('window/addOccupiedPin', {
          id: this.id,
          pin: newVal,
        });
      }

      if (oldVal) {
        this.$store.commit('window/deleteOccupiedPin', {
          id: this.id,
          pin: oldVal,
        });
      }
    },
    handleErr(msg) {
      this.$q.notify({
        type: 'negative',
        message: msg,
      });
    },
  },
};
</script>


