<template lang="pug">
.screen(@click='handleClick')
  transition-group.windows(name='fade-up', tag='div')
    component(
      v-for='(window, i) in windows',
      :is='window.component',
      :key='window.id',
      :pos='{ x: (i + 1) * 30, y: (i + 1) * 30 }'
    )

  .info.font-orbitron(v-if='firmwareName')
    | {{ firmwareName }} - v{{ ver }}

  dialog-system-setting

  // 右鍵選單
  q-menu(context-menu, content-class='border-radius-s')
    q-list.min-w-260px
      q-item(@click='addWindow("window-digital-io")', clickable, v-close-popup)
        q-item-section
          | 新增「數位 I/O 視窗」
      q-item(
        @click='addWindow("window-analog-input")',
        clickable,
        v-close-popup
      )
        q-item-section
          | 新增「類比輸入視窗」
      q-item(@click='addWindow("window-pwm-output")', clickable, v-close-popup)
        q-item-section
          | 新增「PWM 輸出視窗」
      q-separator

      q-item(
        @click='addWindow("window-app-rgb-led-palette")',
        clickable,
        v-close-popup
      )
        q-item-section
          | 新增「RGB LED 調色盤」
      q-item(
        @click='addWindow("window-app-google-dino")',
        clickable,
        v-close-popup
      )
        q-item-section
          | 新增「跑跑小恐龍」
      q-item(
        @click='addWindow("window-app-cat-vs-dog")',
        clickable,
        v-close-popup
      )
        q-item-section
          | 新增「貓狗大戰」
</template>

<style lang="sass">
@import '@/styles/quasar.variables.sass'

.screen
  position: absolute
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  background: linear-gradient(160deg, rgba($teal-1, 0.2), $blue-grey-1)
  color: $grey
  .info
    position: absolute
    right: 0px
    bottom: 0px
    display: flex
    text-align: right
    padding: 14px
    letter-spacing: 1.5px
    font-size: 14px
    color: $grey
</style>

<script>
/**
 * @typedef {import('@/script/modules/port-transceiver').default} PortTransceiver
 *
 * @typedef {import('@/types/type').Window} Window
 */

import { mapState } from 'vuex';

import { delay } from '@/script/utils/utils.js';

import DialogSystemSetting from '@/components/dialog-system-setting.vue';

import WindowDigitalIo from '@/components/window-digital-io.vue';
import WindowAnalogInput from '@/components/window-analog-input.vue';
import WindowPwmOutput from '@/components/window-pwm-output.vue';

import WindowAppRgbLedPalette from '@/components/window-app-rgb-led-palette/window-app-rgb-led-palette.vue';
import WindowAppGoogleDino from '@/components/window-app-google-dino/window-app-google-dino.vue';
import WindowAppCatVsDog from '@/components/window-app-cat-vs-dog/window-app-cat-vs-dog.vue';

export default {
  name: 'App',
  components: {
    'dialog-system-setting': DialogSystemSetting,

    'window-digital-io': WindowDigitalIo,
    'window-analog-input': WindowAnalogInput,
    'window-pwm-output': WindowPwmOutput,

    'window-app-rgb-led-palette': WindowAppRgbLedPalette,
    'window-app-google-dino': WindowAppGoogleDino,
    'window-app-cat-vs-dog': WindowAppCatVsDog,
  },
  data() {
    return {};
  },
  computed: {
    ...mapState({
      /** @type {PortTransceiver} */
      portTransceiver: (state) => state.core.transceiver,

      ver: (state) => state.board.info.ver,
      firmwareName: (state) => state.board.info.firmwareName,

      /** @type {Window[]} */
      windows: (state) => state.window.list,
    }),
  },
  watch: {
    /** 偵測 portTransceiver 變化，如果為有效物件，則進行初始化
     * @param {PortTransceiver} transceiver
     */
    portTransceiver(transceiver) {
      if (!transceiver) {
        return;
      }

      this.initTransceiver();
    },
  },
  created() {},
  mounted() {},
  methods: {
    handleClick() {
      this.$store.commit('window/setFocus', null);
    },

    initTransceiver() {
      /** @type {PortTransceiver} */
      const portTransceiver = this.portTransceiver;

      /** 提示使用者正在等待 Firmata 回應
       * 產生一個透過程式關閉的 Notify，用於後續處理
       * [Notify API](https://v1.quasar.dev/quasar-plugins/notify#programmatically-closing)
       */
      const dismiss = this.$q.notify({
        type: 'ongoing',
        message: '等待 Board 啟動...',
      });

      portTransceiver.once('ready', async (data) => {
        dismiss();

        const ver = data.ver;
        const firmwareName = data.firmwareName;

        this.$q.notify({
          type: 'positive',
          message: `初始化成功，韌體名稱「${firmwareName}」，版本：「${ver}」`,
        });

        portTransceiver.addCmd('queryCapability');
        await delay(100);
        portTransceiver.addCmd('queryAnalogMapping');
      });

      portTransceiver.on('info', (info) => {
        this.$store.commit('board/setInfo', info);
      });

      portTransceiver.on('undefined-response', (data) => {
        console.log(`[ portTransceiver on undefined-response ] data : `, data);
      });

      portTransceiver.on('err', (err) => {
        dismiss();

        // 若發生錯誤，則清空選擇 Port
        this.$store.commit('core/setPort', null);

        // 顯示錯誤訊息
        /** @type {string} */
        const msg = err.toString();

        if (msg.includes('Failed to open serial port')) {
          this.$q.notify({
            type: 'negative',
            message: '開啟 Port 失敗，請確認 Port 沒有被占用',
          });
          return;
        }

        this.$q.notify({
          type: 'negative',
          message: `開啟 Port 發生錯誤：${err}`,
        });
      });
    },

    addWindow(name) {
      this.$store.commit('window/add', name);
    },
  },
};
</script>
