<template lang="pug">
.cactuses
  img.cactus(
    ref='cactus',
    v-for='(cactus, i) in cactuses',
    :style='cactus.style',
    :key='cactus.key',
    :class='classes',
    :src='cactus.src',
    @animationend='deleteCactus(i)'
  )
</template>

<style scoped lang="sass">
@import '@/styles/quasar.variables.sass'

.cactuses
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  .cactus
    position: absolute
    height: 70px
    bottom: 30px
    animation: move 2.5s forwards linear
    &.pulse
      animation-play-state: paused

  @keyframes move
    0%
      right: 0%
      transform: translateX(100%)
    100%
      right: 100%
      transform: translateX(0%)
</style>

<script>
/**
 * @typedef {Object} Cactus
 * @property {string} key
 * @property {Object} style
 * @property {string} src
 */

import { getRandomString, mapNumber, delay } from '@/script/utils/utils';
import { sample, random } from 'lodash-es';

import { GameStatus } from './game-scene.vue';

import imgCactus01 from '@/assets/google-dino/cactus-1.png';
import imgCactus02 from '@/assets/google-dino/cactus-2.png';
import imgCactus03 from '@/assets/google-dino/cactus-3.png';
import imgCactus04 from '@/assets/google-dino/cactus-4.png';

export default {
  name: 'Cactuses',
  components: {},
  props: {
    gameStatus: {
      type: String,
      default: '',
    },
    score: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      /** @type {Cactus[]} */
      cactuses: [],
      timer: null,

      cactusTypes: [imgCactus01, imgCactus02, imgCactus03, imgCactus04],
    };
  },
  computed: {
    classes() {
      return {
        pulse: this.gameStatus === GameStatus.GAME_OVER,
      };
    },
  },
  watch: {
    gameStatus: {
      handler(status) {
        if (status === GameStatus.START) {
          this.start();
          return;
        }

        if (status === GameStatus.GAME_OVER) {
          this.over();
          return;
        }
      },
      immediate: true,
    },
  },
  created() {},
  mounted() {},
  beforeDestroy() {
    this.over();
  },
  methods: {
    start() {
      this.timer = setInterval(async () => {
        await delay(random(1000));
        this.addCactus();
      }, 1500);
    },
    over() {
      clearInterval(this.timer);
    },

    addCactus() {
      const src = sample(this.cactusTypes);
      const animationDuration = mapNumber(this.score, 0, 1000, 2.4, 0.6);

      /** @type {Cactus} */
      const cactus = {
        key: getRandomString(),
        style: {
          animationDuration: `${animationDuration}s`,
        },
        src,
      };

      this.cactuses.push(cactus);
    },
    deleteCactus(index) {
      this.cactuses.splice(index, 1);
    },

    /** 取出所有仙人掌 DOM */
    getDoms() {
      return this.$refs?.cactus ?? [];
    },
  },
};
</script>


