<template lang="pug">
.clouds
  img.cloud(
    src='@/assets/google-dino/cloud.png',
    v-for='(cloud, i) in clouds',
    :style='cloud.style',
    :key='cloud.key',
    :class='classes',
    @animationend='deleteCloud(i)'
  )
</template>

<style scoped lang="sass">
@import '@/styles/quasar.variables.sass'

.clouds
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  .cloud
    position: absolute
    width: 100px
    animation: move 3.2s forwards linear
    &.pulse
      animation-play-state: paused

  @keyframes move
    0%
      right: 0%
      transform: translateX(100%)
    100%
      right: 100%
      transform: translateX(0%)
</style>

<script>
/**
 * @typedef {Object} Cloud 雲朵
 * @property {string} key
 * @property {Object} style
 */

import { getRandomString, mapNumber } from '@/script/utils/utils';
import { random } from 'lodash-es';

import { GameStatus } from './game-scene.vue';

export default {
  name: 'Clouds',
  components: {},
  props: {
    gameStatus: {
      type: String,
      default: '',
    },
    score: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      /** 已建立雲朵
       * @type {Cloud[]}
       */
      clouds: [],

      /** 計時器 */
      timer: null,
    };
  },
  computed: {
    classes() {
      return {
        pulse: this.gameStatus === GameStatus.GAME_OVER,
      };
    },
  },
  watch: {
    gameStatus: {
      handler(status) {
        if (status === GameStatus.START) {
          this.start();
          return;
        }

        if (status === GameStatus.GAME_OVER) {
          this.over();
          return;
        }
      },
      immediate: true,
    },
  },
  created() {},
  mounted() {},
  beforeDestroy() {
    this.over();
  },
  methods: {
    /** 開始 */
    start() {
      this.timer = setInterval(() => {
        this.addCloud();
      }, 1000);
    },
    /** 結束 */
    over() {
      clearInterval(this.timer);
    },

    /** 建立雲朵 */
    addCloud() {
      const animationDuration = mapNumber(this.score, 0, 1000, 3.2, 2.5);

      /** @type {Cloud} */
      const cloud = {
        key: getRandomString(),
        style: {
          top: `${random(10, 50)}%`,
          animationDuration: `${animationDuration}s`,
        },
      };

      this.clouds.push(cloud);
    },

    /** 刪除雲朵
     * @param {number} index
     */
    deleteCloud(index) {
      this.clouds.splice(index, 1);
    },
  },
};
</script>


