<template lang="pug">
.dino(:style='style')
  img(ref='dino', :src='imgSrc')
</template>

<style scoped lang="sass">
.dino
  position: absolute
  width: 80px
  bottom: 30px
  left: 30px
</style>

<script>
/**
 * @typedef {Object} Status 人物狀態
 * @property {Boolean} jumping 跳躍
 * @property {Boolean} squatting 蹲下
 */

import { gsap } from 'gsap';

import imgRun01 from '@/assets/google-dino/dino-run-1.png';
import imgRun02 from '@/assets/google-dino/dino-run-2.png';
import imgJump from '@/assets/google-dino/dino-jump.png';
import imgDie from '@/assets/google-dino/dino-die.png';
import imgSquat01 from '@/assets/google-dino/dino-squat-1.png';
import imgSquat02 from '@/assets/google-dino/dino-squat-2.png';

import { GameStatus } from './game-scene.vue';

export default {
  name: 'Dino',
  components: {},
  props: {
    gameStatus: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      /** @type {Status} */
      status: {
        jumping: false,
        squatting: false,
      },

      /** 目前顯示圖片 */
      imgSrc: imgJump,

      /** 計時器，處理圖片動畫 */
      timer: null,

      /** 跳躍量 */
      yOffset: 0,

      /** GSAP 動畫 */
      gsapAni: {
        jump: null,
      },
    };
  },
  computed: {
    style() {
      return {
        transform: `translateY(-${this.yOffset}px)`,
      };
    },
  },
  watch: {
    gameStatus(status) {
      if (status === GameStatus.START) {
        this.start();
        return;
      }

      if (status === GameStatus.GAME_OVER) {
        this.over();
        return;
      }
    },
  },
  created() {
    // 初始化 GSAP 動畫物件
    this.initGsapAni();
  },
  mounted() {},
  beforeDestroy() {
    this.over();
  },
  methods: {
    /** 開始 */
    start() {
      this.gsapAni.jump?.progress(0);

      this.status.jumping = false;
      this.status.squatting = false;

      this.timer = setInterval(() => {
        this.processSpriteImg();
      }, 150);
    },
    /** 結束 */
    over() {
      this.imgSrc = imgDie;
      clearInterval(this.timer);

      this.gsapAni.jump?.pause();
    },

    /** 透過切換圖片的方式動畫 */
    processSpriteImg() {
      /** @type {Status} */
      const status = this.status;

      // 跳躍
      if (status.jumping) {
        this.imgSrc = imgJump;
        return;
      }

      // 蹲下
      if (status.squatting) {
        if (this.imgSrc === imgSquat01) {
          this.imgSrc = imgSquat02;
        } else {
          this.imgSrc = imgSquat01;
        }
        return;
      }

      // 跑步
      if (this.imgSrc === imgRun01) {
        this.imgSrc = imgRun02;
      } else {
        this.imgSrc = imgRun01;
      }
    },

    /** 初始化 GSAP 動畫 */
    initGsapAni() {
      /** @type {Status} */
      const status = this.status;

      const jumpTimeline = gsap.timeline();

      const duration = 0.32;

      jumpTimeline
        .to(this, {
          duration,
          yOffset: 150,
          ease: 'power1.out',
          onStart() {
            status.jumping = true;
          },
        })
        .to(this, {
          duration,
          yOffset: 0,
          ease: 'power1.in',
          onComplete() {
            status.jumping = false;
          },
        })
        .pause();

      this.gsapAni.jump = jumpTimeline;
    },

    /** 跳躍 */
    jump() {
      if (this.status.jumping) return;

      this.gsapAni.jump.restart();
    },

    /** 設定是否蹲下 */
    setSquat(status = true) {
      this.status.squatting = status;
    },

    /** 取出 DOM */
    getDom() {
      return this.$refs?.dino;
    },
  },
};
</script>


