<template lang="pug">
.game-scene
  .ground
  clouds(
    ref='clouds',
    :game-status='gameStatus',
    :score='score',
    :key='"clouds-" + gameId'
  )
  cactuses(
    ref='cactuses',
    :game-status='gameStatus',
    :score='score',
    :key='"cactuses-" + gameId'
  )
  dino(ref='dino', :game-status='gameStatus')

  .scoreboard
    | {{ scoreboard }}

  .prompt-text
    template(v-if='gameStatus === "standby"')
      .text-30px.blink
        | 按任意按鈕開始遊戲

    template(v-if='gameStatus === "gameOver"')
      .text-34px.mb-10px
        | GAME OVER
      .text-20px
        | 按任意按鈕重新開始
</template>

<style scoped lang="sass">
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap')
@import '@/styles/quasar.variables.sass'

.game-scene
  width: 100%
  height: 100%
  user-select: none
  font-family: 'DotGothic16', sans-serif
  .ground
    position: absolute
    bottom: 0px
    left: 0px
    width: 100%
    height: 50px
    border-top: 2px solid $grey-4

  .scoreboard
    position: absolute
    top: 20px
    right: 26px
    font-size: 26px
    letter-spacing: 2px

  .prompt-text
    position: absolute
    top: 46%
    left: 50%
    transform: translate(-50%, -50%)
    letter-spacing: 4px
    font-size: 30px
    user-select: none
    text-align: center

  .blink
    animation: blink 2s infinite steps(3)

@keyframes blink
  0%, 100%
    opacity: 1
  50%
    opacity: 0
</style>

<script>
/**
 * @typedef {import('@/script/modules/port-transceiver').default} PortTransceiver
 *
 * @typedef {import('@/types/type').PinInfo} PinInfo
 * @typedef {import('@/types/type').PinCapability} PinCapability
 */

/**
 * @enum {string}
 */
export const GameStatus = {
  /** 等待開始 */
  STANDBY: 'standby',
  /** 遊戲開始 */
  START: 'start',
  /** 遊戲結束 */
  GAME_OVER: 'gameOver',
};

import { mapState } from 'vuex';

import Dino from './dino.vue';
import Clouds from './clouds.vue';
import Cactuses from './cactuses.vue';

import { getRandomString } from '@/script/utils/utils';

import Button from '@/script/electronic-components/button';
import { PinMode } from '@/script/utils/firmata.utils';
const { INPUT_PULLUP } = PinMode;

export default {
  name: 'GameScene',
  components: {
    dino: Dino,
    clouds: Clouds,
    cactuses: Cactuses,
  },
  props: {
    /** 跳躍按鈕腳位 */
    jumpPin: {
      type: Object,
      default() {
        return null;
      },
    },
    /** 蹲下按鈕腳位 */
    squatPin: {
      type: Object,
      default() {
        return null;
      },
    },
  },
  data() {
    return {
      gameId: '',

      gameStatus: GameStatus.STANDBY,
      timer: null,
      timeCounter: 0,

      score: 0,

      /** @type {Button} */
      jumpButton: null,
      /** @type {Button} */
      squatButton: null,
    };
  },
  computed: {
    ...mapState({
      /** @type {PortTransceiver} */
      portTransceiver: (state) => state.core.transceiver,
    }),

    scoreboard() {
      return `${this.score}`.padStart(5, '0');
    },

    pins() {
      return [this.jumpPin, this.squatPin];
    },
  },
  watch: {
    pins([jumpPin, squatPin]) {
      // 所有腳位都設定完成才初始化
      if (!jumpPin || !squatPin) return;

      this.initBtns();
    },
  },
  created() {},
  mounted() {},
  beforeDestroy() {
    this.over();

    this.jumpButton?.destroy?.();
    this.squatButton?.destroy?.();
  },
  methods: {
    start() {
      if (this.gameStatus === GameStatus.START) {
        return;
      }

      // 初始化變數
      this.gameId = getRandomString();
      this.gameStatus = GameStatus.START;
      this.score = 0;
      this.timeCounter = 0;

      // 計時器啟動
      this.timer = setInterval(() => {
        this.tick();
      }, 10);
    },

    over() {
      this.gameStatus = GameStatus.GAME_OVER;
      clearInterval(this.timer);
    },

    tick() {
      this.timeCounter++;

      // score 每 0.1 秒增加一次
      if (this.timeCounter % 10 === 0) {
        this.score++;
      }

      // 碰撞偵測
      /** @type {HTMLElement[]} */
      const cactuses = this.$refs.cactuses.getDoms();
      /** @type {HTMLElement} */
      const dino = this.$refs.dino.getDom();

      const isBump = cactuses.some((cactus) => this.isOverlap(dino, cactus));
      if (isBump) {
        this.over();
      }
    },

    /** 檢查兩個 DOM 是否重疊
     * @param {HTMLElement} dom01
     * @param {HTMLElement} dom02
     * @param {number} tolerance 容差值
     */
    isOverlap(dom01, dom02, tolerance = 20) {
      const dom01Rect = dom01.getBoundingClientRect();
      const dom02Rect = dom02.getBoundingClientRect();

      const dom01Left = dom01Rect.left + tolerance;
      const dom01Top = dom01Rect.top + tolerance;
      const dom01Right = dom01Left + dom01Rect.width - tolerance;
      const dom01Bottom = dom01Top + dom01Rect.height - tolerance;

      const dom02Left = dom02Rect.left + tolerance;
      const dom02Top = dom02Rect.top + tolerance;
      const dom02Right = dom02Left + dom02Rect.width - tolerance;
      const dom02Bottom = dom02Top + dom02Rect.height - tolerance;

      // 檢查重疊
      if (
        dom02Bottom > dom01Top &&
        dom02Right > dom01Left &&
        dom02Left < dom01Right &&
        dom02Top < dom01Bottom
      ) {
        return true;
      }

      return false;
    },

    /** 初始化按鈕物件 */
    initBtns() {
      const transceiver = this.portTransceiver;
      const mode = INPUT_PULLUP;

      this.jumpButton = new Button({
        pin: this.jumpPin,
        mode,
        transceiver,
      }).on('rising', () => {
        this.start();
        this.$refs.dino.jump();
      });

      this.squatButton = new Button({
        pin: this.squatPin,
        mode,
        transceiver,
      }).on('toggle', (value) => {
        this.start();
        this.$refs.dino.setSquat(value);
      });
    },
  },
};
</script>


