<template lang="pug">
base-window.window-app-google-dino(
  :pos='pos',
  header-icon='r_videogame_asset',
  body-class='c-col h-400px',
  title='跑跑小恐龍'
)
  .h-full.overflow-hidden
    // 遊戲場景
    game-scene(:jump-pin='jumpPin', :squat-pin='squatPin')

    // 設定欄位
    transition(name='fade-up')
      .setting-form(v-if='!isSettingOk')
        .form-section
          .form-item.mb-20px
            q-icon.mr-10px(name='r_gamepad', size='20px')
            .text-18px.font-700
              | 設定控制器

          .form-item
            .text-16px.w-100px
              | 跳躍
            base-select-pin.w-full(
              v-model='jumpPin',
              :pins='supportPins',
              color='light-green-4',
              placeholder='點擊選擇',
              @err='handleErr'
            )

          .form-item
            .text-16px.w-100px
              | 蹲下
            base-select-pin.w-full(
              v-model='squatPin',
              :pins='supportPins',
              color='light-green-4',
              placeholder='點擊選擇',
              @err='handleErr'
            )
</template>

<style scoped lang="sass">
@import '@/styles/quasar.variables.sass'

.window-app-google-dino
  width: 700px

.setting-form
  position: absolute
  top: 0%
  left: 0px
  width: 100%
  height: 100%
  padding: 20px
  background: rgba(white, 0.9)
  backdrop-filter: blur(4px)
  display: flex
  justify-content: center
  .form-section
    padding: 20px
    width: 50%
    border-radius: $border-radius-m
    box-shadow: $focus-shadow

  .form-item
    display: flex
    align-items: center
    margin-bottom: 20px
</style>

<script>
/**
 * @typedef {import('@/script/modules/port-transceiver').default} PortTransceiver
 *
 * @typedef {import('@/types/type').PinInfo} PinInfo
 * @typedef {import('@/types/type').PinCapability} PinCapability
 */

import { mapState } from 'vuex';

import mixinWindow from '@/mixins/mixin-window';

import BaseWindow from '@/components/base-window.vue';
import BaseSelectPin from '@/components/base-select-pin.vue';

import GameScene from './game-scene.vue';

import { PinMode } from '@/script/utils/firmata.utils';
const { INPUT_PULLUP } = PinMode;

export default {
  name: 'WindowAppGoogleDino',
  components: {
    'base-window': BaseWindow,
    'base-select-pin': BaseSelectPin,

    'game-scene': GameScene,
  },
  mixins: [mixinWindow],
  props: {},
  data() {
    return {
      jumpPin: null,
      squatPin: null,
    };
  },
  computed: {
    ...mapState({
      boardPins: (state) => state.board.info.pins,
    }),

    /** 支援功能的腳位 */
    supportPins() {
      /** @type {PinInfo[]} */
      const boardPins = this.boardPins;

      return boardPins.filter((pin) =>
        pin.capabilities.some((capability) => INPUT_PULLUP === capability.mode)
      );
    },

    /** 設定是否完成 */
    isSettingOk() {
      return this.jumpPin && this.squatPin;
    },
  },
  watch: {
    jumpPin(newVal, oldVal) {
      this.handlePinSelect(newVal, oldVal);
    },
    squatPin(newVal, oldVal) {
      this.handlePinSelect(newVal, oldVal);
    },
  },
  created() {},
  mounted() {},
  methods: {
    /** 處理腳位選擇事件，回報 Vuex 新增、移除占用腳位
     * @param {PinInfo} newVal
     * @param {PinInfo} oldVal
     */
    handlePinSelect(newVal, oldVal) {
      if (newVal) {
        this.$store.commit('window/addOccupiedPin', {
          id: this.id,
          pin: newVal,
        });
      }

      if (oldVal) {
        this.$store.commit('window/deleteOccupiedPin', {
          id: this.id,
          pin: oldVal,
        });
      }
    },
    /** 處理錯誤訊息 */
    handleErr(msg) {
      this.$q.notify({
        type: 'negative',
        message: msg,
      });
    },
  },
};
</script>


